#block1{


     position: relative;
     width:920px;
     height:800px;
     top:50%;
     left:20%;
     margin:-400px 0 0 -200px;
	 background-color: white;
	font-size: 20px;
	text-align: center;

}

h1{

	padding-top: 50px;

}

.push_button{
	position:relative;
	width:100px;
	color:#e30000;
	display:block;
	text-decoration:none;
	border-radius:5px;
	border:solid 2px #9f0000;
	background:#fff;
	text-align:center;
	padding:20px 30px;
	margin-left: 33%;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #fff;
        -moz-box-shadow: 0px 9px 0px #fff;
        box-shadow: 0px 9px 0px #fff;
}


.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}

.inputxt {

	height: 30px;
	border-radius: 50px;
	background-color: white;
	color: black;
	font-size: 23px;
	text-align: center;
	border: solid;
	border-radius: 0px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-color: #6c6c6c;
	opacity: 0.7;
	color: #9f0000;
	font-family: sans-serif, "gruppo";
	resize: none;
	margin-top: 20px;

}




form{

	float: right;
	margin-top: 40px;
	margin-right: 32%;

}
textarea{

	width: 300px;
	
}

#dialog{

margin-top: 48%;

}

span{

text-decoration: underline;
color: blue;

}