#block1{


     position: relative;
     width:920px;
     height:600px;
     top:50%;
     left:20%;
     margin:-400px 0 0 -200px;
	 background-color: white;
	font-size: 20px;

}

#container{

	text-align: right;
    z-index:-20;
}

h1{

	padding-right: 30px;
	padding-top: 10px;

}

p{

padding-right: 20px;
	color: #818181;
	opacity: 0.9;
	

}