body{

background-image: url('../images/stripes.png');
font-family: "andale mono";



}


#nav {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	margin-right: 22%;
	margin-left: auto;
    min-width:1000px;
    max-width:100px;
 

}

#nav ul{
	margin: 0;
	padding: 0;
	line-height: 60px;
}

#nav ul ul li a {
	height: 40px;
	line-height: 50px;

 
}

#nav li{
    margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	float: right;




}

#nav ul li a {
	text-align: center;
	text-decoration: none;
	height: 60px;
	width:200px;
	display: block;
	color: black ;
	font-size: 18px;
		 transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

#nav ul ul {
	position: absolute;
	visibility: hidden;
	height: 80px;
	width: 200px;
	background-color: white;
	margin-top: -10px;



}

#nav ul li:hover ul{
	visibility: visible;

}

#nav ul li a:hover {
	color: #09f;

}

#wraper{
	width: 101.62852%;
	height: 70px;
	background-color: white;
	opacity: 0.7;
	margin-top: -19px;
	margin-left: -10px;
	position: fixed;
	z-index: 20;
	box-shadow: 2px 2px 7px #818181;

}

#holder{
	height: 10000px;
    width: 920px;
	margin-top: 50px;
	background-color: white;
	margin-left: 9%;


}

#container{

    width: 920px;
	height: 1000px;
	position:absolute;
     top:50%;
     left:50%;
     margin:-360px 0 0 -440px;

}


