body {
	
	background-image: url("../images/stripes.png");
	
}

@media (max-width: 480px) {

    #container {

        width:480px;
        height:600px;

    }



	#navbar {
	margin: 0;
	padding: 0;
	margin-left: 22%;


}

#navbar ul{
	margin: 0;
	padding: 0;
	line-height: 60px;
}

#navbar ul ul li a {
	height: 40px;
	line-height: 50px;

 
}

#navbar li{
    margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#navbar ul li a {
	text-align: center;
	text-decoration: none;
	height: 60px;
	width:200px;
	display: block;
	color: black ;
	font-size: 18px;
}

#navbar ul ul {
	position: absolute;
	height: 218px;
	width: 100%;
	background-color: white;
	margin-top: -10px;
	margin-right: 20%;




}

#wraper{

	width: 101%;
	height: 50px;
	background-color: white;
	opacity: 0.7;
	margin-top: -19px;
	margin-left: -10px;
	position: fixed;
	z-index: 20;
	box-shadow: 2px 2px 7px #818181;
	

}


}



