body{

	background-image: url("../images/spongebob_meme_nobodycares_by_bloodycoldplay-d70hxga.jpg");
	background-repeat: none;

}



p {

 
	text-align: center;
	font-size: 30px;
	font-style: bold;
	margin-top: 60%;
	color: white;
	font-family: "arial black", ;


}